################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1430Program4/1430Program4.VC.VC.opendb
